<div class="logo">
  <img src="../../../assets/svg/ultrasound-icon.svg" alt="logo" />
  <h1>SonoBase</h1>
</div>
<div class="user-info tui-text_h5">
  Hello
  <div *ngIf="userCollection | async">
    {{ ", " + (userCollection | async)?.userName }}
  </div>
</div>
<tui-tabs class="nav">
  <a tuiTab routerLink="/home" routerLinkActive>Home</a>
  <a tuiTab routerLink="/exam" routerLinkActive>Examination</a>
  <a tuiTab routerLinkActive disabled>Patients</a>
  <a tuiTab routerLinkActive disabled>Statistics</a>
  <a tuiTab routerLink="/settings" routerLinkActive disabled>Settings</a>
  <a
    tuiTab
    routerLinkActive
    (click)="showDialog()"
    *ngIf="!(isAuthorizedObs | async)"
    >Log In</a
  >
  <a
    tuiTab
    routerLinkActive
    *ngIf="isAuthorizedObs | async"
    (click)="showDialog()"
    >Log Out</a
  >
</tui-tabs>
