<div class="logo">
  <img src="../../../assets/svg/ultrasound-icon.svg" alt="logo" />
  <h1>SonoBase</h1>
</div>
<div class="login">
  <div class="status">Guest</div>
  <button tuiButton appearance="floating" size="s">Sign In</button>
</div>
<tui-tabs class="nav">
  <a tuiTab routerLink="/home" routerLinkActive>Home</a>
  <a tuiTab routerLink="/exam" routerLinkActive>Examination</a>
  <a tuiTab routerLinkActive disabled>Patients</a>
  <a tuiTab routerLinkActive disabled>Statistics</a>
  <a tuiTab routerLink="/settings" routerLinkActive disabled>Settings</a>
</tui-tabs>
